<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="FinPos.Service.FinPosService">
                <endpoint address="net.tcp://localhost" binding="netTcpBinding"
                    bindingConfiguration="" name="TCPCommunication" contract="FinPos.WcfHost.IFinPosService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
