<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      

<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">-->
  <extensions>
    <add assembly="NLog" />
    <!--<add assembly="NLog.Extensions.Logging"/>-->
  </extensions>
  <targets>
    <target name="file" xsi:type="File" fileName="C:/FinPosLogs/Client/${shortdate}/LogFile.log"
       layout="${longdate}: ${message}${newline}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
  </targets>
  <rules>
    <logger name="*" minLevel="Info" writeTo="file"/>
  </rules>
</nlog>