<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="FinPosDbContext" connectionString="Server=127.0.0.1;Port=5432;Database=finpos;User Id=postgres;Password=password;" providerName="Npgsql" />-->
    <add name="FinPosDbContext" providerName="System.Data.SQLite.EF6" connectionString="Data Source=C:/FinposDb/finpos.sqlite;" />
  </connectionStrings>
  <entityFramework>
    <!--<defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, Npgsql" />-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>

      <!--<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />-->
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="Npgsql" />     
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF" />-->

      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="longTimeoutBinding" receiveTimeout="01:00:00" sendTimeout="01:00:00" openTimeout="00:10:00">
          <!-- openTimeout="00:01:00"-->
          <!--maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"-->
          <security mode="Transport" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <!--<service name="FinPos.WcfHost.FinPosService">
        <endpoint address="net.tcp://localhost:8090/FinPosService"  binding="netTcpBinding" contract="FinPos.WcfHost.IFinPosService" />
      </service>
      <service name="FinPos.WcfHost.Services.CouponManagmentService">
        <endpoint address="net.tcp://localhost:8090/CouponManagmentService"  binding="netTcpBinding" contract="FinPos.WcfHost.Interface.ICouponManagmentService" />
      </service>-->
      <!--<service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.FinPosService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.IFinPosService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/FinPosManager/" />
          </baseAddresses>
        </host>
      </service>-->
      <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.CouponManagmentService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.ICouponManagmentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/CouponManagment/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.CategoryService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.ICategoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/CategoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.CompanyService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.ICompanyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/CompanyService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.OpeningStockService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.IOpeningStockService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/OpeningStockService/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.ProductService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.IProductService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/ProductService/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.PurchaseService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.IPurchaseService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/PurchaseService/" />
          </baseAddresses>
        </host>
      </service>


  <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.StockAdjustmentService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.IStockAdjustmentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/StockAdjustmentService/" />
          </baseAddresses>
        </host>
      </service>

 <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.SupplierService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.ISupplierService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SupplierService/" />
          </baseAddresses>
        </host>
      </service>

<service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.SystemConfigurationService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.ISystemConfigurationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemConfigurationService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.TaxService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.ITaxService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/TaxService/" />
          </baseAddresses>
        </host>
      </service>
         <service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.Services.UserService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.Interface.IUserService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/UserService/" />
          </baseAddresses>
        </host>
      </service>
      <!--<service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost">
        
      </service>-->
      <!--<service behaviorConfiguration="StackOverflow" name="FinPos.WcfHost.CouponManagment">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="longTimeoutBinding" contract="FinPos.WcfHost.ICouponManagment">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/CouponManager/" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StackOverflow">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.3.0" newVersion="3.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>