<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.Extensions.Wcf" version="3.2.2.0" targetFramework="net452" />
  <package id="Ninject.Web.Common" version="3.2.0.0" targetFramework="net452" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net452" />
  <package id="System.Data.SqlClient" version="4.3.1" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net452" />
</packages>